<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">

    <title>Sigende titel</title>

    <meta name="robots" content="All">
    <meta name="author" content="Udgiver">
    <meta name="copyright" content="Information om copyright">

    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="row align-items-center flex-nowrap">

            <div class="col-auto">
                <a class="site-header__logo" href="index.html" aria-label="Gå til forsiden">
                    <img src="/logo/logo_dark.png" alt="KunstKollektivet">
                </a>
            </div>

            <div class="col d-none d-md-block">
                <nav class="site-header__nav" aria-label="Primær navigation">
                    <a href="index.html" data-nav-link>Hjem</a>
                    <a href="#nyheder" data-nav-link>Nyheder</a>
                    <a href="shop.html" data-nav-link>Alle prints</a>
                </nav>
            </div>

            <div class="col-auto ms-auto">
                <div class="d-flex align-items-center gap-2">
                    <a href="" class="site-header__icon-link" aria-label="Søg">
                        <img src="/icons/icons8-search-32.png" alt="">
                    </a>

                    <a href="cart.html" class="site-header__icon-link" aria-label="Kurv">
                        <img src="/icons/icons8-bag-32.png" alt="">
                    </a>

                    <button
                            class="site-header__menu-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#mobileNavigation"
                            aria-controls="mobileNavigation"
                            aria-expanded="false"
                            aria-label="Åbn menu"
                    >
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                </div>
            </div>

        </div>
    </div>


    <nav class="collapse site-header__mobile-nav" id="mobileNavigation" aria-label="Mobil navigation">
        <a href="index.html" data-nav-link>Hjem</a>
        <a href="news.html" data-nav-link>Nyheder</a>
        <a href="shop.html" data-nav-link>Alle prints</a>
    </nav>
</header>
</body>
</html>